/* .input-theme {
    display: none;
}

.theme-toggle label {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
} */

.theme-toggle {
    display: flex;
    align-items: center;
}

.theme-toggle > svg {
    width: 1.5rem;
    height: 1.5rem;
}

/** Animated Theme Toggle */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

.dark::view-transition-old(root) {
  z-index: 1;
}
.dark::view-transition-new(root) {
  z-index: 999;
}

::view-transition-old(root) {
  z-index: 999;
}
::view-transition-new(root) {
  z-index: 1;
}