.input-theme {
    display: none;
}

.theme-toggle label {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
}

.theme-toggle {
    display: flex;
    align-items: center;
}