.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
node_modules
.idea/
*.log
auto-imports.d.ts
components.d.ts

# obsidian config
pages/.obsidian/plugins
pages/.obsidian/workspace.json
pages/.obsidian/appearance.json
