---
import BaseLayout from "~/layouts/Base.astro";
import PostPreview from "~/components/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "~/utils/getAllPosts";

const posts = sortMDByDate(await getAllPosts());

const meta = {
  description: "A list of posts.",
  title: "All Blogs",
};
---

<BaseLayout meta={meta}>
  <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    ul li * {
      text-decoration: none;
      transition: 0.2s ease;
    }
    ul li {
      margin-bottom: 1rem;
    }
  </style>
  <h1>Blogs</h1>
  <hr />
  <section>
    <ul>
      {
        posts.map((post) => (
          <li>
            <PostPreview post={post} withDesc withTags />
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
