kbd {
    background: radial-gradient(var(--bg-color-back), var(--c-bg));
    border: solid 0.15rem var(--c-border);
    border-bottom: solid 0.25rem var(--c-border);
    border-radius: 0.15rem;
    padding: 0 0.15em;
    box-shadow: 0 2px 3px var(--box-shadow);
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root {
    --font-family-code: 'Jetbrains Mono', Monaco, Consolas, "Andale Mono", "Ubuntu Mono", 'Courier New', Courier, --apple-system, monospace;
    --theme-color-mark: rgba(62, 175, 124, .25)
}

p>img {
    display: block;
    margin: 0 auto;
}

mark {
    background-color: var(--theme-color-mark);
    color: var(--text-color);
}

:root.theme-orange {
    --theme-color-mark: rgba(243, 156, 18, .25);
}

:root.theme-red {
    --theme-color-mark: rgba(231, 76, 60, .25);
}

:root.theme-blue {
    --theme-color-mark: rgba(52, 152, 219, .25);
}

:root.theme-green {
    --theme-color-mark: rgba(62, 175, 124, .25)
}

:root.theme-purple {
    --theme-color-mark: rgba(142, 68, 173, .25)
}