.heti code {
    padding: 0.2rem 0.2rem;
    border-radius: 0.2rem;
    background-color: rgba(0, 0, 0, 0.054);
}

@media (prefers-color-theme: dark) {
    .heti code {
        background-color: rgba(255, 255, 255, 0.054);
    }
}

.heti a {
    color: #4387f4;
}

.heti blockquote>p {
  margin-block-end: 12px;
}

.heti img {
  margin: 0 auto;
}

.shiki-container>pre {
  padding: 1rem;
}