.heti code {
    padding: 0.2rem 0.2rem;
    border-radius: 0.1rem;
    background-color: rgba(0, 0, 0, 0.054);
}

@media (prefers-color-theme: dark) {
    .heti code {
        background-color: rgba(255, 255, 255, 0.054);
    }
}

.heti a {
    color: #4387f4;
}

.heti img {
  margin: 0 auto;
}

html:not(.dark) {
  --kbd-bg: linear-gradient(-225deg,#dbdbe4,#f8f8f8);
  --kbd-shadow: inset 0 -2px 0 0 #cdcde6,inset 0 0 1px 1px #fff,0 1px 2px 1px rgba(30,35,90,.4);
}

html.dark {
  --kbd-bg: linear-gradient(-225deg,#222222,#344556);
  --kbd-shadow: inset 0 -2px 0 0 #282828,inset 0 0 1px 1px #444,0 1px 2px 1px rgba(0,128,255,.4);
}

.heti kbd {
  padding: 0.2rem 0.4rem;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  border-radius: 0.2rem;
  background: var(--kbd-bg);
  box-shadow: var(--kbd-shadow)
}
