@import 'https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.15.3/katex.min.css';
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');


.shiki-light {
  background: #f8f8f8 !important;
}
.shiki-dark {
  background: #0e0e0e !important;
}

html.dark .shiki-light {
  display: none;
}

html:not(.dark) .shiki-dark {
  display: none;
}

.heti .callout-body>p {
  margin-block-end: 12px;
}

.custom-callout>.callout-body>pre:last-child {
  margin-bottom: -1.5rem;
}

.custom-callout>.callout-body>pre:first-child {
  margin-top: -1.5rem;
}

code[v-pre] {
  display: flex;
  flex-direction: column;
}

code[v-pre] :not(:last-child).line {
  height: 1.2rem;
}

.shiki .highlighted {
  background: #7f7f7f20;
  display: block;
  margin: 0 -1rem;
  padding: 0 1rem;
}
