---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import SocialLinks from '~/components/SocialLinks.astro'
import { getSortedPosts } from '~/utils/getAllPosts'
import PostPreview from '~/components/PostPreview.astro'

const MAX_POSTS = 10
const sortedPosts = await getSortedPosts()
const shownPosts = sortedPosts.slice(0, MAX_POSTS)
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h3>Hi</h3>
      <p>I am widcardw, a student of Computer Science.</p>

      <p>
        I am recently learning
        <a href="https://www.typescriptlang.org/" target="_blank">Typescript</a
        >,
        <a href="https://rust-lang.org" target="_blank">Rust</a>,
        <a href="https://python.org/" target="_blank">Python</a>, Data Science, AI for DB
        and so on.

        <p>
          Find me on
          <SocialLinks />
        </p>
      </p>

      <h3>Recent Posts</h3>
      <ul>
        {
          shownPosts.map((post) => (
            <li>
              <PostPreview post={post} />
            </li>
          ))
        }
      </ul>
    </main>
    <Footer />
  </body>
</html>
