---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../consts'
import ThemeToggle from './dark/ThemeToggle'
import { Icon } from 'astro-icon/components'
---

<header>
  <nav>
    <div class="font-bold"><a href="/">{SITE_TITLE}</a></div>
    <div class="internal-links">
      <HeaderLink href="/blog" class="h-link">
        <Icon name="ri:article-line" />
        <span>Blogs</span>
      </HeaderLink>
      <HeaderLink href="/tags" class="h-link">
        <Icon name="ri:hashtag" />
        <span>Tags</span>
      </HeaderLink>
      <HeaderLink href="/links" class="h-link">
        <Icon name="ri:attachment-line" />
        <span>Links</span>
      </HeaderLink>
      <HeaderLink href="/projects" class="h-link">
        <Icon name="ri:apps-line" />
        <span>Projects</span>
      </HeaderLink>
    </div>
    <ThemeToggle client:idle />
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: var(--header-color);
    box-shadow: 0 2px 8px rgba(var(--text-color), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--link-color);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  @media not screen and (max-width: 500px) {
    .h-link > :first-child {
      display: none;
    }
  }
  @media (max-width: 500px) {
    .h-link > :nth-child(2) {
      display: none;
    }
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  .theme-switch-button {
    border: none;
    background: none;
  }
  .theme-toggle {
    display: none;
  }
  .theme-toggle + label {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
  }
</style>
