---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

type Props = {
  post: CollectionEntry<"blog">;
};

const { post } = Astro.props;
const postDate = post.data.updatedDate ?? post.data.pubDate;
---

<div class="flex space-x-4">
  <FormattedDate date={postDate} />
  <a href={`/blog/${post.slug}/`}>{post.data.title.trim()}</a>
</div>
