---
import { Icon } from 'astro-icon/components'
const socialLinks: Array<{
  name: string
  friendlyName: string
  link: string
}> = [
  {
    name: 'ri:github-fill',
    friendlyName: 'Github',
    link: 'https://github.com/widcardw',
  },
  {
    name: 'ri:bilibili-line',
    friendlyName: 'Bilibili',
    link: 'https://space.bilibili.com/31976300',
  },
  {
    name: 'ri:twitter-x-fill',
    friendlyName: 'x',
    link: 'https://x.com/widcardw'
  },
  {
    name: 'ri:mail-line',
    friendlyName: 'email',
    link: 'mailto:widcardw@foxmail.com',
  },
]
---

{
  socialLinks.map((i) => (
    <a href={i.link} target="_blank" class="icon">
      <Icon name={i.name} />
      <span class="sr-only">{i.friendlyName}</span>
    </a>
  ))
}

<style>
  .icon {
    margin: 0 0.2rem;
    display: inline-flex;
    align-self: center;
  }
</style>
